@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'HW-Regular';
    src: url('../font/SourceHanSansHWSC-Regular.otf');
}

@font-face {
    font-family: 'HW-Bold';
    src: url('../font/SourceHanSansHWSC-Bold.otf');
}