<log4net>
	<root name="Logger">
		<level value="DEBUG"/>
		<appender-ref ref ="FileAppender"/>
		<appender-ref ref ="ConsoleAppender"/>
	</root>

	<appender name="ConsoleAppender"  type="log4net.Appender.ManagedColoredConsoleAppender" >
		<mapping>
			<level value="INFO" />
			<forecolor value="Green" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<forecolor value="Yellow" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<forecolor value="Red" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<forecolor value="Blue" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern"  value="=================================================================%n时间：%d %n线程：%t %n级别：%-5p %n位置：%location%n方法名：%M %n行号：%L%n操作信息：%m%n异常：%exception%n"/>
		</layout>
	</appender>

	<appender name ="FileAppender" type="log4net.Appender.RollingFileAppender">
		<param name="File" value="Log/"/>
		<param name="AppendToFile" value="true"/>
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<Encoding value="UTF-8"/>
		<param name="MaxSizeRollBackups" value="10"/>
		<param name="maximumFileSize" value="500KB"/>
		<param name="CountDirection" value="1"/>
		<param name="StaticLogFileName" value="false"/>
		<param name="RollingStyle" value="Composite"/>
		<param name="DatePattern" value="yyyy-MM-dd/&quot;.txt&quot;"/>
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="=================================================================
时间：%d 
													   %n线程：%t 
													   %n级别：%-5p 
													   %n位置：%location
													   %n方法名：%M 
													   %n行号：%L
													   %n操作信息：%m
													   %n异常：%exception"/>
		</layout>
	</appender>

</log4net>